<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bancoprovincia.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>  
            <img src="../img/logo_2021_S.svg" class="logo">
            <ul class="links">
                
                <li><a href="personas.html">Personas</a></li>
                <li><a href="personas.html">Empresas</a></li>
                <li><a href="personas.html">Emprendedores</a></li>
                <li><a href="personas.html">Provincia compras</a></li>
                <li><a href="personas.html">Turnos Web</a></li>
                <li><a href="personas.html" class="bip persona">BIP Personas</a></li>
                <li><a href="personas.html" class="bip empresa">BIP Empresas</a></li>
            </ul>
            <span class="burger">
                <i class="fa-solid fa-bars"></i>
            </span>
        </nav>
    </header>
    <script src="https://kit.fontawesome.com/181725805d.js" crossorigin="anonymous"></script>
</body>
</html>