<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>HTML - Semántico</title>
</head>
<body>

    <!-- Header -->
    <header>
        <h1>Partidos de primera</h1>
    </header>

    <!--Barra de navegación-->
    <nav>
        <ul>
            <li>
                <a href="./index.html">Home</a>
            </li>
            <li>
                <a href="./tablas.html">Tablas</a>
            </li>
            <li>
                <a href="./alumno.html">Alumno</a>
            </li>            
        </ul>
    </nav>

    <!--Contenido principal-->
    <main>
        <section>
            <h3>Equipos</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae, laudantium?</p>
        </section>
    </main>

    <!--Publicidad-->
    <aside>
        <h4>Ventas de Autos</h4>
    </aside>

    <!--Mensaje de foro-->
    <article>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, aperiam!</p>
    </article>

    <!--Cierre-->
    <footer>
        <h5>Contacto</h5>
        <form action="contacto.html">
            <label for="">Mensaje</label>
            <textarea name="" id="" cols="30" rows="10">

            </textarea>
            <button type="submit">Enviar</button>
        </form>
    </footer>

</body>
</html>