<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/modelo_caja.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="caja1 item">
            1
        </div>
        <div class="caja2 item">
            2
        </div>
        <div class="caja3 item">
            3
        </div>
    </div>
    <!--Pseudoclases-->
    <div class="textos">
        <p>Lorem, ipsum dolor.</p>
        <p>Lorem, ipsum dolor.</p>
        <p>Lorem, ipsum dolor.</p>
        <p>Lorem, ipsum dolor.</p>
        <p>Lorem, ipsum dolor.</p>
        <p>Lorem, ipsum dolor.</p>
        <p>Lorem, ipsum dolor.</p>
    </div>
    <hr>
    <div class="links">
        <a href="http://www.google.com.ar">Link1</a>
        <a href="http://www.bla.com">Link1</a>
        <a href="http://www.bla.com.es">Link1</a>
    </div>
    <!--pseudos elementos-->
    <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quis ratione itaque explicabo cupiditate tempora eius eum numquam ullam quam.</p>
</body>
</html>