<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML - Clase 2</title>
</head>
<body>
    <h1>Listado de Alumnos</h1>
    <table border = "1" width = "100%">
        <!--thead: título de la tabla-->
        <thead>
            <tr> <!--Fila-->
                <th> <!--Columna-->
                    Nombre
                </th>
                <th>
                    Apellido
                </th>
                <th>
                    DNI
                </th>
                <th>
                    Email
                </th>
                <th>
                    Curso
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <!--Datos: tbody-->
        <tbody>
            <tr><!--Fila 1 -->
                <td>
                    Carlos
                </td>
                <td>
                    Villegas
                </td>
                <td>
                    <a href="alumno.html">4565421</a>
                </td>
                <td>
                    asd@gmail.com
                </td>
                <td>
                    Java
                </td>
                <td width = "10%">
                    <img src="https://i.pinimg.com/originals/81/25/6a/81256a00f5306f375fb29619931929dc.jpg" alt="" width = "100%">
                </td>
            </tr>
            <tr><!--Fila 2 -->
                <td>
                    Manuel
                </td>
                <td>
                    Mora
                </td>
                <td>
                    <a href="alumno.html">68864565</a>
                </td>
                <td>
                    qwer@gmail.com
                </td>
                <td>
                    Javascript
                </td>
                <td>
                    <img src="https://i.pinimg.com/originals/81/25/6a/81256a00f5306f375fb29619931929dc.jpg" alt="" width = "100%">
                </td>
            </tr>
        </tbody>
        <!--resumen: tfoot-->
        <tfoot>
            <tr>
                <td colspan = "4">

                </td>
                <td>
                    Total: 2
                </td>
            </tr>
        </tfoot>
    </table>
</body>
</html>