<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/componente.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li>
                <a href="./html-semantico.html" class="link">Link 1</a>
            </li>
            <li>
                <a href="" class="link">Link 2</a>
            </li>
            <li>
                <a href="" class="link">Link 3</a>
            </li>
        </ul>
    </nav>
    <main>
        <button class="btn btn-info">
            Click Me
        </button>
        <button class="btn btn-small">
            Click Me Again
        </button>
        <button class="btn btn-large">
            Click
        </button>
    </main>
</body>
</html>